---
---

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  // -webkit-tap-highlight-color:transparent;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
:root{
  --navItemHeight: 18px;
  --tabWidth: 19.7px;
  --transition: 300ms;
  // --transition: 3000ms;
  // --transition: none;
  --charWidth: 9.914px;
  --dividerHeight: 0.3em;
  --linePadding: calc((var(--navItemHeight) - var(--dividerHeight)) / 2);

  --subNavTop: -154px;
  // --subNavTop: -185px;
}

@font-face {
  font-family: "Merchant Copy Doublesize";
  src: url('fonts/Merchant-Copy-Doublesize.ttf') format('truetype');
  font-display:block;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Merchant Copy Doublesize';
  font-size: 14px;
  background: #A9652C;
  // background: white;
  color: #1f1f1f;
  line-height: var(--navItemHeight);
}
h1, h2, h3 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: transparent;
  color:#1f1f1f;
  border: none;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.submenu-button {
  display: inline-block;
  padding: 8px 10px;
  margin: -8px -10px;
}

.arrow {
  width: 30px;
  padding: 8px 0;
  margin: -8px 0;
  cursor: pointer;
}

.receipt-container {
  width: 100%;
  max-width: 390px;
  height: 85vh;
  min-height: 700px;
  background: white;
  box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.50);
  position: absolute;
  top: 7.5vh;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
}

.receipt-top {
  width: 100%;
  padding: 0 16.582px;
  background: white;
}
.receipt-bottom {
  width: 100%;
  padding: 30px 16.582px 63px 16.582px;
  background: white;
  transition: var(--transition);
}
.receipt-container .x {
  text-transform: uppercase;
  position: absolute;
  top: 13px;
  left: 390px + 13px;
  color: white;
  transition: var(--transition);
  opacity: 0;
  pointer-events: none;
}
.receipt-container.show-x .x {
  opacity: 1;
}
.receipt-container {
  .external-right-arrow,
  .external-left-arrow {
    color: white;
    position: absolute;
    bottom: calc(var(--linePadding) + var(--dividerHeight));
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
  }
  .external-right-arrow {
    right: -20px;
  }
  .external-left-arrow {
    left: -20px;
  }
}

.receipt-container.shift-up {
  top: 6.5vh;
}
.receipt-container.move-down {
  top: -80vh;
}

// when the receipt moves up
body.receipt-moveUp {
  .receipt-top {
    order: 2;
  }
}
.receipt-moveUp {
  .section-header {
    order: 10;
  }
  .section-body {
    opacity: 0;
  }
  .divider-single-bar {
    opacity: 0;
  }
}
// end when the receipt moves up

.receipt-header {
  text-align: center;
  padding: 65px 0 49px 0;
  
  span {
    opacity: 0;
    transition: var(--transition);
  }
}

.receipt-sub-header {
  width: 100%;
  max-height: calc(var(--navItemHeight) * 2);
  padding-bottom: var(--linePadding);
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

p {
  line-height: var(--navItemHeight);
}

.divider-double-bar {
  height: var(--navItemHeight);
  overflow: hidden;
  // overflow-wrap: anywhere;
  // white-space: nowrap;
}
.divider-single-bar,
.menu-single-bar {
  height: var(--dividerHeight);
  line-height: var(--dividerHeight);
  background: white;
  overflow: hidden;
  white-space: nowrap;
}
.space-single-bar {
  height: 0;
  background: white;
  overflow: hidden;
}
.divider-double-bar,
.receipt-sub-header,
.sub-header-single-bar,
.receipt-footer p {
  pointer-events: none;
}
#ig {
  pointer-events: all;
  cursor: pointer;
}
.signature-bar {
  width: 100%;
  overflow: hidden;
}

/* CAROUSEL IMAGES */
.carousel-container {
  width: 100vw;
  height: 100vh;
  background: #A9652C;
  position: fixed;
  filter: blur(25px);
  transition: 300ms -webkit-filter linear;
}
.carousel {
  width: fit-content;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  opacity: 0.8;
  transition: var(--transition);
}
.carousel-image {
  width: 100vw;
  height: 100vh;
}
// CAROUSEL NAV
.carousel-container:hover {
  cursor: pointer;
}
.carousel-external-button {
  width: 50vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  display: none;
  cursor: pointer;
}
body.receipt-moveUp,
body.show-theSpace {
  .carousel-external-button {
    display: block;
  }
  .external-right-arrow.show,
  .external-left-arrow.show {
    opacity: 1;
  }
}
.left-click {
  left: 0;
}
.right-click {
  right: 0;
}

.nav {
  width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}
.nav-item {
  max-height: calc((2*var(--navItemHeight)) + var(--dividerHeight));
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 1;
  transition: var(--transition);
  cursor: pointer;

  .divider-single-bar {
      position: absolute;
      bottom: 0;
      left: 0;
  }
}

.section-inner {
  padding: var(--linePadding) 0;
  padding-bottom: calc(var(--linePadding) + var(--dividerHeight));
  display: flex;
  flex-direction: column;

  // background: green;
}
.section-header {
  height: var(--navItemHeight);
  display: flex;
  justify-content: space-between;
  transition: var(--transition);

  // background: blue;
}
.nav-button {
  padding: 10px;
  transform: translate(10px,-10px);
  opacity: 0;
  transition: var(--transition);
}
.nav-button-close {
  display: none;
}
.section-body {
  margin-left: var(--tabWidth);
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);

  // background: red;
}

body.show-events #events,
body.show-hours #hours,
body.show-reservations #reservations {
  .section-header {
    margin-bottom: 10px;
  }
}
body.receipt-moveUp {
  #events,
  #hours,
  #reservations {
    .section-header {
      margin-bottom: 0px;
    }
  }
}

#events,
#hours,
#reservations {
  .section-body{
    padding-left: var(--tabWidth);
    margin-left: 0;

    :first-child {
      margin-top: calc(var(--navItemHeight) - 10px);
    }
  }
}

.receipt-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);
  user-select: none;
}
.receipt-footer-text {
  height: 72px;
  margin-top: 26px;
  opacity: 1;
  user-select: none;
}
.logo {
  width: 100%;
  /* width: 97.436%; */
  // position: relative;
  // top: 29px;
  mix-blend-mode: multiply;
  // transform:translateY(48px);
  transform:translateY(70px);
  pointer-events:none;
}
.logo-container:hover .logo{
  opacity:0;
}

.easter-egg {
  width: 390px;
  height: 260px;
  transform: translateY(-15%);
  position:absolute;
  visibility:hidden;
  pointer-events: none;
  bottom:20px;
  left: 0;
  mix-blend-mode: multiply;
  background: url('/assets/images/easter-egg.png') 0 0 no-repeat;
  // transition: background-position 0.5s steps(5); /* 2 rows * 3 columns - 1 = 5 steps */
}

@media screen and (max-width: 430px){
  .easter-egg {
    width: 100vw;
    height: 66.667vw;
    bottom:60px;
  }
}

.logo-container:hover .easter-egg {
  visibility: visible;
}

@keyframes cycleImages {
  0%   { background-position: 0 0; }
  17%  { background-position: -390px 0; }
  34%  { background-position: -780px 0; }
  51%  { background-position: 0 -260px; }
  68%  { background-position: -390px -260px; }
  85%  { background-position: -780px -260px; }
  100% { background-position: 0 0; }
}

.logo-container:hover .easter-egg {
  animation: cycleImages 2s steps(1) infinite;
}

/* FOOD AND DRINKS */
#foodAndDrinks .section-body{
  margin-left: 0;
  transition: var(--transition);
}
.food-and-drinks-inner {
  padding-top: 0;
}
.food-and-drinks-subnav {
  position: sticky;
  position: -webkit-sticky;
  top: var(--subNavTop);
  z-index: 1;

  a:last-of-type {
    .menu-single-bar {
      background: transparent;
    }
  }
}
.food-and-drinks-subnav + .food-and-drinks-subheader {
  .menu-subheader-top-nav {
    background: white;
  }
}
.menu-subheader {
  height: var(--navItemHeight);
  line-height: var(--navItemHeight);
  overflow: hidden;
  white-space: nowrap;
}

.submenu-nav {
  padding: var(--linePadding) 0;
  background: white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .submenu-button {
  visibility: hidden;
  opacity: 0;
  }
  .submenu-button.show {
    visibility: visible;
    opacity: 1;
  }
}

.food-and-drinks-subheader {
  height: 80px;
  margin-bottom: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;

  div:last-of-type {
    background: transparent;
    margin-top: -0.1em;
  };
}

.menu-subheader-top-nav {
  padding-top: var(--navItemHeight);
  padding-bottom: var(--linePadding);

  .food-and-drinks-back-button {
    display: inline-block;
    padding: 10px 15px;
    margin: -15px;
    z-index: 3;
    cursor: pointer;
  }
}

.food-and-drinks-subheader {
  span,
  button {
    visibility: hidden;
    opacity: 0;
  }

  .menu-subheader-top-nav {
    background: white;
  }
}
.food-and-drinks-subheader ~ .food-and-drinks-subheader {
  span {
    transition: 0s;
  }

  .menu-subheader-top-nav {
    background: transparent;
    color: transparent;
  }
}

.food-and-drinks-subheader.show {
  span:first-of-type,
  button {
    visibility: visible;
    opacity: 1;
    // transition: var(--transition);
  }

  .food-and-drinks-subheader-title {
    cursor: pointer;
  }
}

.food-and-drinks-subheader-ghost {
  position: relative;
  top: var(--dividerHeight);
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
}
.menu-note {
  color: #FF0000;
  padding-left: calc(var(--tabWidth)*2);
}
.food-and-drinks-subheader-title {
  background: white;
  padding: var(--linePadding) 0;
  padding-bottom: calc(var(--linePadding) + 0.1em);
  display: flex;
  justify-content: space-between;
}
.food-and-drinks-header-back {
  height: calc(var(--navItemHeight) + var(--linePadding));
  display: none;
  opacity: 0;
  transition: var(--transition);

  h1 {
    padding: 8px 0;
    margin: -8px 0;
    display: inline-block;
    cursor: pointer;
  }
}

.food-and-drinks-subnav .menu-single-bar:first-of-type {
  margin-top: var(--linePadding);
}

/* FOOD AND DRINKS STYLES */
body.show-foodAndDrinks {

  .food-and-drinks-subnav .menu-single-bar:first-of-type {
    margin-top: 0;
  }

  // show food and drinks
  section#foodAndDrinks{
    height: auto;
    max-height: 9000px;
  
    .section-body {
      max-height: 9000px;
      // DO NOT DELETE:
      overflow: inherit;
    }
  }
  .section-inner {
    cursor: default;
  }

  // hide everything else
  .nav-item:not(#foodAndDrinks),
  .divider-single-bar:not(.sub-header-single-bar) {
    max-height: 0;
    opacity: 0;
    transition: var(--transition);
  }
  .nav-item#foodAndDrinks {
    overflow: inherit;
  }

  .receipt-container {
    height: auto;
  }
  .food-and-drinks-header-default {
    display: none;
  }
  .food-and-drinks-header-back {
    display: flex;
    justify-content: space-between;
    opacity: 1;
  }
  .food-and-drinks-subnav.open {
    // top: 44px;
    top: 43px;
  }
  .receipt-bottom {
    padding-top: 50px;
  }
}
body.show-foodAndDrinks.receipt-moveUp {
  .food-and-drinks-header-back {
    display: none;
  }
  .food-and-drinks-header-default {
    display: flex;
  }
  .section-inner {
    cursor: pointer;
  }
}

/* THE SPACE STYLES */
#theSpace {
  .section-body {
    margin-left: 0;
  }
}
.the-space-arrows {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  cursor: default;
}
.arrow-right {
  text-align: right;
}
.arrow-left {
  text-align: left;
}
.right-click-hover {
  animation: arrow-right 300ms linear infinite;
}
.left-click-hover {
  animation: arrow-left 300ms linear infinite;
}

.space-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .see-more {
    opacity: 0;
    transition: var(--transition);
  }
  .see-less {
    display: none;
  }
}
.coming-soon {
  color: #8f8f8f;
  pointer-events: none;
  span {
    text-transform: capitalize;
  }
}
#theSpaceHeader h1:before {
  content: "* ";
}
body.show-theSpace #theSpaceHeader h1:before {
  content: "< ";
}
#theSpaceButtonClose {
  opacity: 0;
}
.space-header-title:before{
  content: "* ";
}
.space-body {
  padding-left: var(--tabWidth);
}

@media screen and (min-width: 430px) {
  .receipt-container {
    animation: on-load-receipt-move-up 1500ms;
  }
  .carousel-container {
    animation: on-load-carousel-unblur 1500ms;
  }

  body.show-theSpace {
    .receipt-container {
      left: calc(7.5vh + 195px);
    }
    .receipt-sub-header,
    .nav-item:not(#theSpace),
    .sub-header-single-bar {
      max-height: 0;
    margin-top: 0px;
    opacity: 0;
    transition: var(--transition);
  }
  .section-body {
    padding-left: var(--tabWidth);
  }

  }
  .receipt-container.shift-left {
    transform: translateX(-52%);
  
    #theSpaceButton {
      opacity: 1;
    }
  }

  body.show-events,
  body.show-hours,
  body.show-reservations {
    .receipt-container {
      height: auto;
    }
  }
}
// when space is open
body.show-theSpace {

  .nav {
    margin-top: 0px;
  }
  .receipt-footer-text {
    height: 0;
    opacity: 0;
  }
  .receipt-bottom {
    padding-top: 0px;
    padding-bottom: 42px;
    background: white;
  }
  .carousel-container {
    filter: blur(0);
  }

  section#theSpace {

    max-height: 800px;
    margin-top: calc(-1 * var(--linePadding));
    overflow: inherit;
    cursor: default;

    .section-header {
      cursor: pointer;
    }
    #theSpaceHeader + .space-single-bar {
      margin-top: var(--linePadding);
    }
    #theSpaceButton {
      display: none;
    }
    #theSpaceButtonClose {
      display: flex;
    }
    .space-single-bar {
      height: var(--dividerHeight);
      line-height: var(--dividerHeight);
      white-space: nowrap;
      cursor: pointer;
    }
    .section-inner {
      padding-bottom: 0;
    }
    .section-body {
      max-height: 800px;
    }
    .divider-single-bar {
      width: 100%;
      bottom: calc(-1 * var(--dividerHeight));
    }
  }
}

.space-section-inner {
  padding: var(--linePadding) 0;
  cursor: pointer;
}
.space-body {
  max-height: 0;
  overflow: hidden;
  cursor: default;
}
.space-section.show-description  {
  .space-body {
    height: auto;
    max-height: inherit;
    padding: var(--navItemHeight) 0;
    padding-left: calc(var(--charWidth)*2);
    overflow: inherit;
  }
  .see-more {
    opacity: 0;
    display: none;
  }
  .see-less {
    opacity: 1;
    display: inline-block;
  }
}

/* EVENTS */
#events {
  p:not(:last-child) {
    margin-bottom: var(--navItemHeight);
  }
}
#events.show-close-button {
  .nav-button {
    display: none;
    opacity: 0;
    transition: var(--transition);
  }
  .nav-button-close {
    display: inline;
    opacity: 1;
  }
}

body.show-events {
  section#events {
    height: auto;
    max-height: 500px;
    .section-body {
      max-height: 500px;
      cursor: default;
    }
  }

}
body.show-events.receipt-moveUp {
  section#events {
    order: 10;
    .section-body {
      cursor: pointer;
    }
  }
}

/* HOURS */
.schedule {
  width: calc(100% - var(--tabWidth));
  border-collapse: collapse;
}
.store-status {
  color: #8f8f8f;
}
.store-open {
  color: #FF0000;
}

.hours-day {
  text-transform: capitalize;
}
.hours-closed {
  text-transform: uppercase;
}

#hours.show-close-button {
  .nav-button {
    display: none;
    opacity: 0;
    transition: var(--transition);
  }
  .nav-button-close {
    display: inline;
    opacity: 1;
  }
}

body.show-hours {
  section#hours{
    max-height: 300px;

    .section-body {
      max-height: 300px;
      cursor: default;
    }
  }
}
body.show-hours.receipt-moveUp {
  section#hours {
    order: 10;
    .section-body {
      cursor: pointer;
    }
  }
}

/* RESERVATIONS */
#reservations.show-close-button{
  .nav-button {
    display: none;
    opacity: 0;
    transition: var(--transition);
  }
  .nav-button-close {
    display: inline;
    opacity: 1;
  }
}

body.show-reservations {
  section#reservations{
    max-height: 200px;
    .section-body {
      max-height: 200px;
      cursor: default;
    }
  }
}
body.show-reservations.receipt-moveUp {
  section#reservations {
    order: 10;

    .section-body {
      cursor: pointer;
    }
  }
}

@keyframes on-load-receipt-move-up {
  // 0% {top: 79.5vh;}
  // 33% {top: 79.5vh;}
  // 100% {top: 7.5vh;}
  0% {top: calc(100vh - 204px);
  transform: translateX(-50%);}
  33% {top: calc(100vh - 204px);
    transform: translateX(-50%);}
  100% {top: 7.5vh;
    transform: translateX(-50%);}
}
@keyframes on-load-carousel-unblur {
  0% {filter: blur(0px);}
  33% {filter: blur(0px);}
  100% {filter: blur(25px);}
}

@keyframes arrow-right {
  0% {padding-right: var(--charWidth)}
  49% {padding-right: var(--charWidth)}
  50% {padding-right: 0;}
}
@keyframes arrow-left {
  0% {padding-left: var(--charWidth)}
  49% {padding-left: var(--charWidth)}
  50% {padding-left: 0;}
}

#foodAndDrinksText:after {
  content: '* food and drinks';
}
@keyframes food-and-drinks-hover {
  0% {content: "!! WINE !!"}
  25% {content: "!! BEER !!"}
  50% {content: "!! COCKTAILS !!"}
  75% {content: "!! FOOD !!"}
  100% {content: "!! WINE !!"}
}

// all hover states for desktop only
@media (hover: hover) and (pointer: fine) {
// @media screen and (min-width: 430px) {

  .receipt-header-name:hover,
  .receipt-header-address:hover,
  .receipt-header-email:hover {
    span {
      opacity: 1;
    }
  }

  .carousel-container.hover-blur {
    filter: blur(15px);
  }
  .carousel-container.no-blur {
    filter: blur(0px);
  }

  .nav-item:hover {
      .nav-button {
        opacity: 1;
        transition: var(--transition);
      }
  }

  #theSpaceHeader:hover .nav-button-close {
    opacity: 1;
  }
  .arrow-right:hover {
      animation: arrow-right 300ms linear infinite;
  }
  .arrow-left:hover {
      animation: arrow-left 300ms linear infinite;
  }

  .space-section:hover {
    .see-more {
      opacity: 1;
    }
  }

  #events:hover,
  #hours:hover,
  #reservations:hover {
    max-height: calc(2 * var(--navItemHeight) + 10px);

    .section-header {
      margin-bottom: 10px;
    }
  }

  #foodAndDrinks:hover {
    #foodAndDrinksText:after {
      animation: food-and-drinks-hover 600ms  linear infinite;
    }
  }
  body.receipt-moveUp #foodAndDrinks:hover {
    #foodAndDrinksText:after {
      animation: none;
    }
  }
}
//  end of hover states

.carousel-container{
  // position: relative;
  position:fixed;
}

.carousel {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  width: 100vw;
  overflow: scroll;
}

.carousel-image {
  scroll-snap-align: start;
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}


/* media query for mobile */
// @media screen and (max-width: 430px) and (pointer:coarse) {
  @media screen and (max-width: 430px) {
    html, body {
      overscroll-behavior-x: none;
      overscroll-behavior-y: none;
    }
    
    body {
      background: white;
    }
    
    .carousel-container{
      // position: relative;
      position:fixed;
    }

    .carousel {
      scroll-snap-type: x mandatory;
      display: flex;
      overflow-x: scroll;
      width: 100vw;
      overflow: scroll;
      overscroll-behavior-y: none;
    }
  
    .carousel-image {
      scroll-snap-align: start;
      position: relative;
      width: 100vw;
      height: 100vh;
      flex-shrink: 0;
    }

    .receipt-container {
      .x,
      .external-right-arrow,
      .external-left-arrow {
        display: none;
      }
    }
    .receipt-container {
      max-width: 100vw;
      height: 100%;
      height: 100vh;
      position: static;
      transform: translate(0);
      box-shadow: none;
      // height: auto;
      // min-height: auto;
    }
    .receipt-header {
      padding-top: 18px;
    }
  }
  
  /* media query for desktop */
  @media screen and (max-width: 430px) {
    .receipt-container {
      // height: 100%;
      // height: 100vh;
    }
  }
  @media screen and (max-width:430px) and (pointer:fine) {
    .receipt-header {
      padding-top: 65px;
    }
  }

  // FOOD AND DRINKS MEDIA QUERY
  @media screen and (max-width: 430px) {
    body.show-foodAndDrinks {
      overflow-x: none;
      .carousel-container {
        display: none;
      }
    }
  }

// THE SPACE MEDIA QUERY
// @media screen and (max-width: 430px) and (pointer:coarse) {
  @media screen and (max-width: 430px) {

    body.show-theSpace {
      background: #A9652C;

      // mobile transition
      .receipt-sub-header,
      .nav-item:not(#theSpace),
      .sub-header-single-bar {
        margin-top: 0px;
        max-height: 0px;
        opacity: 0;
        transition: max-height 300ms;
      }

      .carousel-container {
        display: block;
        position: fixed;
      }
      .carousel-external-button {
        display: none;
      }
      .receipt-bottom {
        display: none;
      }
  
      .divider-double-bar {
        display: none;
      }

      .receipt-header p:not(.receipt-header-name) {
        display: none;
      }
      
      .receipt-container {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0%);
        background: transparent;
        transition: transform 0s;
          height: auto;
          min-height: auto;
      }
      .receipt-top {
        box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.50);
        transition: 0s;
      }
      .receipt-header {
        padding-top: 18px;
        padding-bottom: var(--navItemHeight);
        transition: 0s;
      }

      #theSpaceHeader {
        display: none;
      }
  
      #theSpaceHeader + .space-single-bar {
        display: none;
      }
      .section-body {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        // for mobile transition
        transition: 0s;
      }
      .coming-soon {
        display: none;
      }
      .divider-single-bar {
        display: none;
      }
      .the-space-arrows {
        order: 1;
      }
      .see-more {
        opacity: 1;
      }
  
      .space-single-bar {
        order: -2;
      }
      .show-mobile {
        order: -1;
      }
      .hide-mobile {
        display: none;
      }
      .show-description {
        display: block;
  
        .see-less {
          opacity: 1;
          display: inline-block;
        }
      }
  
      .test-hide-nav {
        .space-section:not(.show-mobile) {
          display: none;
        }
      }
    }
  }