---
---

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
:root{
  --navItemHeight: 18px;
  --tabWidth: 19.7px;
  --transition: 300ms;
  // --transition: 3000ms;
  // --transition: none;
  --charWidth: 9.914px;
  --linePadding: 8px;
}

@font-face {
  font-family: "Merchant Copy Doublesize";
  src: url('fonts/Merchant-Copy-Doublesize.ttf') format('truetype');
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Merchant Copy Doublesize';
  font-size: 14px;
  background: #A9652C;
  color: #1f1f1f;
  line-height: var(--navItemHeight);
}
h1, h2, h3 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: transparent;
  color:#1f1f1f;
  border: none;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.submenu-button {
  display: inline-block;
  padding: 8px 10px;
  margin: -8px -10px;
}

.arrow {
  background: red;
  width: calc(2 * var(--charWidth));
  width: 30px;
  padding: 8px 0;
  margin: -8px 0;
  cursor: pointer;
}

.receipt-container {
  width: 100%;
  max-width: 390px;
  height: 85vh;
  /* min-height: 836px; */
  min-height: 700px;
  /* padding: 0 16.582px; */

  background: white;
  box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.50);
  position: absolute;
  top: 7.5vh;
  left: 50vw;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transition: var(--transition);
}
.receipt-top {
  padding: 0 16.582px;
  background: white;
}
.receipt-bottom {
  padding: 0 16.582px 63px 16.582px;
  /* padding-bottom: 63px; */
  background: white;
  width: 100%;
}
.receipt-container .x {
  text-transform: uppercase;
  position: absolute;
  // top: 0;
  top: 13px;
  // bottom: 0px;
  left: 390px + 13px;
  color: white;
  transition: 300ms;
  opacity: 0;
}
.receipt-container.show-x .x {
  opacity: 1;
}

.receipt-container.shift-left {
  transform: translateX(-52%);
}
.receipt-container.shift-up {
  top: 6.5vh;
}
.receipt-container.move-up {
  // top: -80vh;
  bottom: -37px;
}
// .receipt-container .shift-down {
//   top: -80vh;
// }
.receipt-container.move-down {
  top: -80vh;
}

.receipt-header {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 49px;
  
  span {
    opacity: 0;
    transition: var(--transition);
  }
}

.receipt-header-name:hover,
.receipt-header-address:hover,
.receipt-header-email:hover {
  span {
    opacity: 1;
  }
}

.receipt-sub-header {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  max-height: calc(var(--navItemHeight) * 2);
  overflow: hidden;
  padding-bottom: var(--linePadding);
}

p {
  line-height: var(--navItemHeight);
}

.divider-double-bar {
  overflow-wrap: anywhere;
  overflow: hidden;
  height: var(--navItemHeight);
}
.divider-single-bar,
.menu-single-bar {
  background:yellow;
  // height: var(--navItemHeight);
  line-height: 0.2em;
  height: 0.2em;
  overflow: hidden;
  // margin-top: 0px;
  // cursor: pointer;
}
.space-single-bar {
  height: 0;
  overflow: hidden;
}

/* media query for mobile */
// @media screen and (max-width: 430px) and (pointer:coarse) {
@media screen and (max-width: 430px) {
  .receipt-container {
    max-width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
  }
  .receipt-header {
    padding-top: 18px;
  }
}

/* media query for desktop */
@media screen and (max-width: 390px) {
  .receipt-container {
    height: 100%;
  }  
}

/* CAROUSEL IMAGES */
.carousel-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  filter: blur(25px);
  transition: 300ms -webkit-filter linear;
}
.carousel {
  height: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: var(--transition);
}
.carousel-image {
  height: 100vh;
  width: 100vw;
}

.carousel-container.hover-blur {
  filter: blur(15px);
}
.carousel-container.no-blur {
  filter: blur(0px);
}
/* END OF CAROUSEL IMAGES */







.nav {
  margin-top: 18px;
  width: 100%;
}
.nav-item {
  transition: var(--transition);
  // max-height: calc(2*var(--navItemHeight));
  max-height: calc((2*var(--navItemHeight)) + 0.2em);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 1;
  background: white;
  cursor: pointer;

  position: relative;
  .divider-single-bar {
      position: absolute;
      bottom: 0;
      left: 0;
  }
}

.section-inner {
  padding: var(--linePadding) 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  height: var(--navItemHeight);
}
.nav-button {
  padding: 10px;
  transform: translate(10px,-10px);
}
.section-body {
  margin-left: var(--tabWidth);
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);

}
#events:hover,
#hours:hover,
#reservations:hover {
  max-height: calc(2 * var(--navItemHeight) + 10px);
  .section-body {
    max-height: 10px;
  }
}
#events,
#hours,
#reservations {
  .section-body{
    :first-child {
      margin-top: var(--navItemHeight);
    }
  }
}

.receipt-footer {
  /* padding-top: 128px;
  padding-bottom: 63px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: var(--transition);
}
.receipt-footer-text {
  opacity: 1;
  height: 72px;
  margin-top: 26px;
}
.logo {
  width: 106.5%;
  /* width: 97.436%; */
  position: relative;
  top: 29px;
}



/* FOOD AND DRINKS */
#foodAndDrinks .section-body{
  margin-left: 0;
  transition: var(--transition);

  // max-height: 0;
  // overflow: hidden;
}

.food-and-drinks-subnav {
  background: white;
  position: sticky;
  /* top: -153px; */
  top: -154px;
  // height: 153px;
  height: 149px;
  z-index: 1;
  transition: var(--transition);
}

.submenu-nav {
  display: flex;
  justify-content: space-between;
  padding: var(--linePadding) 0;

  .submenu-button {
  visibility: hidden;
  opacity: 0;
  }
  .submenu-button.show {
    visibility: visible;
    opacity: 1;
  }
}

.food-and-drinks-subheader {
  position: sticky;
  top: 0;
  height: 80px;
  margin-bottom: 10px;
  // margin-top: calc(39px - 36px);
}

.menu-subheader-top-nav {
  // background: yellow;
  padding-top: var(--navItemHeight);
  padding-bottom: var(--linePadding);

  .food-and-drinks-back-button {
    display: inline-block;
    background: lightblue;
    padding: 10px 15px 10px 15px;
    margin: -15px;
    z-index: 3;
    cursor: pointer;
  }
}

.food-and-drinks-subheader {
  span,
  button {
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }
}
.food-and-drinks-subheader.show {
  span,
  button {
    visibility: visible;
    opacity: 1;
  }
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
}
.menu-note {
  color: #FF0000;
  padding-left: calc(var(--tabWidth)*2);
}
.food-and-drinks-subheader-title {
  background: white;
  display: flex;
  justify-content: space-between;
  /* height: var(--navItemHeight); */
  padding: var(--linePadding) 0;
}
.food-and-drinks-header-back {
  opacity: 0;
  display: none;
  // padding-bottom: var(--linePadding);
  
  // display: flex;
  // justify-content: space-between;

  transition: var(--transition);

  h1 {
    display: inline-block;
    background: rgb(185, 185, 255);
  }
}

/* FOOD AND DRINKS STYLES */
body.show-foodAndDrinks {

  // show food and drinks
  section#foodAndDrinks{
    max-height: inherit;
    // overflow: inherit;
    // max-height: 1000px;
    max-height: 2000px;
    height: auto;
  
    .section-body {
      transition: none;
      max-height: 2000px;
      overflow: inherit;
      margin-top: var(--linePadding);
    }
    
  }

  // hide everything else
  .nav-item:not(#foodAndDrinks),
  .divider-single-bar:not(.sub-header-single-bar) {
    max-height: 0;
    opacity: 0;
    transition: var(--transition);
  }

  .nav-item {
    overflow: inherit;
  }

  .receipt-container {
    /* position: fixed; */
    /* top: 1000px; */
    height: auto;
  }

  .section-header {
    height: auto;
  }

  .food-and-drinks-header-default {
    display: none;
  }

  .food-and-drinks-header-back {
    display: flex;
    justify-content: space-between;
    
    opacity: 1;
  }

  .food-and-drinks-subnav.open {
    top: 44px;
  }
}


/* THE SPACE STYLES */
// #theSpace .section-body .space-single-bar:last-child {
//   display: none;
// }
.the-space-arrows {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  cursor: default;
}
.arrow-right {
  text-align: right;
  &:hover {
    animation: arrow-right 300ms linear infinite;
  }
}
.arrow-left {
  text-align: left;
  &:hover {
    animation: arrow-left 300ms linear infinite;
  }
}

.space-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  .see-more {
    opacity: 0;
    transition: var(--transition);
  }
  .see-less {
    display: none;
  }
}
.coming-soon {
  color: #8f8f8f;
  pointer-events: none;
  span {
    text-transform: capitalize;
  }
}
#theSpaceHeader h1:before {
  content: "* ";
}
body.show-theSpace #theSpaceHeader h1:before {
  content: "< ";
}
#theSpaceButton:after {
  content: "-";
}
.space-header-title:before{
  content: "* ";
}

.space-body {
  padding-left: var(--tabWidth);
}

// when space is open
body.show-theSpace {
  // hide other elements
  .receipt-sub-header,
  .nav-item:not(#theSpace),
  .sub-header-single-bar {
    margin-top: 0px;
    max-height: 0;
    opacity: 0;
    transition: var(--transition);
  }

  // receipt container
  .receipt-container {
    /* left: calc(62px + 195px); */
    left: calc(7.5vh + 195px);
  }
  .nav {
    margin-top: 0px;
  }
  .receipt-footer-text {
    opacity: 0;
    height: 0;
  }
  .receipt-bottom {
    padding-bottom: 42px;
    background: white;
  }
  .carousel-container {
    filter: blur(0);
  }

  section#theSpace {

    cursor: default;
    max-height: inherit;
    max-height: 800px;
    /* max-height: 500px; */
    overflow: inherit;
    margin-top: calc(-1 * var(--linePadding));

    .section-header {
      cursor: pointer;
    }
    #theSpaceHeader + .space-single-bar {
      background: purple;
      margin-top: var(--linePadding);
    }
    .space-single-bar {
      cursor: pointer;
      background:yellow;
      line-height: 0.2em;
      height: 0.2em;
    }
    .section-inner {
      padding-bottom: 0;
    }
    .section-body {
      max-height: 800px;
    }
    .divider-single-bar {
      bottom: -0.2em;
    }
  }
}

.space-section {
  // background: transparent;
  &:hover .see-more{
    opacity: 1;
  }
}
.space-section-inner {
  padding: var(--linePadding) 0;
  cursor: pointer;
}
.space-body {
  max-height: 0;
  overflow: hidden;
  // background: red;
  cursor: default;
}
.space-section.show-description  {
  .space-body {
    max-height: inherit;
    height: auto;
    overflow: inherit;
    padding: var(--navItemHeight) 0;
    padding-left: calc(var(--charWidth)*2);
  }
  .see-more {
    opacity: 0;
    display: none;
  }
  .space-header:hover {
    .see-less {
      opacity: 1;
      display: inline-block;
    }
  }
}

// @media screen and (max-width: 430px) and (pointer:coarse) {
@media screen and (max-width: 430px) {
  body.show-theSpace {

    .arrow-right:hover,
    .arrow-left:hover {
      animation: none;
    }

    .divider-double-bar {
      display: none;
    }

    .receipt-header p:not(.receipt-header-name) {
      display: none;
    }
    
    .receipt-container {
      left: 0;
      transform: translateX(0%);
      background: blue;
      background: transparent;
      transition: transform 0s;
    }
    .receipt-header {
      padding-top: 18px;
      padding-bottom: var(--navItemHeight);
    }
    .receipt-bottom {
      position: absolute;
      bottom: -500px;
      transition: var(--transition);
    }

    #theSpaceHeader {
      display: none;
    }

    #theSpaceHeader + .space-single-bar {
      display: none;
    }
    .section-body {
      margin-left: 0;
      display: flex;
      flex-direction: column;
    }
    .coming-soon {
      display: none;
    }
    .divider-single-bar {
      display: none;
    }
    .the-space-arrows {
      order: 1;
    }
    .see-more {
      opacity: 1;
    }

    .space-single-bar {
      order: -2;
    }
    .show-mobile {
      order: -1;
    }
    .hide-mobile {
      display: none;
    }
    .show-description {
      display: block;

      .see-less {
        opacity: 1;
        display: inline-block;
      }
    }

    // .space-section:not(.show-mobile) {
    //   display: none;
    // }
    .test-hide-nav {
      .space-section:not(.show-mobile) {
        display: none;
      }
    }
  }
}

/* EVENTS */
#events {
  p:not(:last-child) {
    margin-bottom: var(--navItemHeight);
  }
}

body.show-events {
  section#events {
    max-height: 500px;
    .section-body {
      max-height: 500px;
    }
  }
  .receipt-container {
    height: auto;
  }
  // .receipt-footer {
  //   padding-top: 128px;
  // }
}

/* HOURS */
.schedule {
  width: calc(100% - var(--tabWidth));
  border-collapse: collapse;
}

body.show-hours {
  section#hours{
    max-height: 300px;

    .section-body {
      max-height: 300px;
    }
  }
  .receipt-container {
    height: auto;
  }
}

/* RESERVATIONS */
body.show-reservations {
  section#reservations{
    // max-height: inherit;
    max-height: 200px;
    /* overflow: inherit; */
    // overflow: hidden;
    .section-body {
      max-height: 200px;
    }
  }
}

@keyframes arrow-right {
  0% {padding-right: var(--charWidth)}
  49% {padding-right: var(--charWidth)}
  50% {padding-right: 0;}
}
@keyframes arrow-left {
  0% {padding-left: var(--charWidth)}
  49% {padding-left: var(--charWidth)}
  50% {padding-left: 0;}
}