<!DOCTYPE html>
<html>
  {% include head.html %}

  {% if page.className %}
  <body class="show-{{page.className}}">
  {% else %}
  <body>
  {% endif %}

    <!-- <div class="carousel-container-container"> -->
      <div class="carousel-container" id="carouselContainer">
        <div class="carousel" id="carousel">
          {% for space-area in site.data.space.space-areas %}
            {% for image in space-area.images %}
              <div class="carousel-image">
                <img src="{{ image.path }}" alt="{{ space-area.name }} Image" class="{{ space-area.name | slugify }}" data="{{ space-area.name | slugify }}">
              </div>
            {% endfor %}
          {% endfor %}
          <div class="carousel-image">
            <img src="{{ site.data.space.space-areas[0].images[0].path }}" alt="" class="{{ site.data.space.space-areas[0].name | slugify }} last" data="{{ site.data.space.space-areas[0].name | slugify }}">
          </div>
        </div>
      </div>
    <!-- </div>  -->
    <div class="carousel-external-button right-click"></div>
    <div class="carousel-external-button left-click"></div>
    
    <div class="receipt-container" id="receiptContainer">
      <span class="x">x</span>
      <span class="external-right-arrow">></span>
      <span class="external-left-arrow"><</span>
      <div class="receipt-top">
        <!-- header -->
        <div class="receipt-header">
          <p class="receipt-header-name">
            <a href="/"><span>-</span>MADELINE'S<span>-</span></a>
          </p>
          <p class="receipt-header-address">
            <a href="https://maps.app.goo.gl/UubBrH738V1LFtoL6" target="_blank"><span>-</span>113 Franklin Street<span>-</span><br><span>-</span>Greenpoint, BK<span>-</span></a>
          </p>
          <p class="receipt-header-email">
            <a href="mailto:info@madelinesnyc.com"><span>-</span>info@madelinesnyc.com<span>-</span></a>
          </p>
        </div>
        <!-- subheader -->
        <div class="divider-double-bar">=========================================</div>
        <div class="receipt-sub-header">
          <p class="table">Table:<span class="table-letter">T</span><span class="table-number">7</span></p>
          <p class="dine-in">Dine In</p>
        </div>
        <div class="divider-single-bar sub-header-single-bar">-----------------------------------------</div>
        <!-- nav menu -->
        <div class="nav">
          <!-- food and drinks -->
          <section class="nav-item" id="foodAndDrinks" data-href="/menu">
          <div class="food-and-drinks-inner section-inner">
            <div class="section-header food-and-drinks-header-default">
              <h1 id="foodAndDrinksText"></h1>
              <span class="nav-button" id="foodAndDrinksButton">+</span>
              <span class="nav-button nav-button-close" id="foodAndDrinksButtonClose">-</span>
            </div>
            <div class="section-header food-and-drinks-header-back">
              <h1 class="click">< back</h1>
            </div>
            <div class="section-body">
              <div class="food-and-drinks-subnav">
                <div class="menu-single-bar">----------------------------------------</div>
              {% for menu-category in site.food_and_drinks %}
              <a href="#{{ menu-category.title | slugify}}"><div class="submenu-nav">
                <h1>{{ menu-category.title }}</h1>
                <button class="submenu-button submenu-close-button">-</button>
              </div>
              <div class="menu-single-bar">----------------------------------------</div></a>
              {% endfor %}
              </div>
              {% for menu-category in site.food_and_drinks %}
                    <div class="food-and-drinks-subheader-ghost" id="{{ menu-category.title | slugify }}"></div>
                    <div class="food-and-drinks-subheader">
                      <div class="menu-subheader-top-nav">
                        <span class="food-and-drinks-back-button click"><</span>
                      </div>
                      <div class="menu-single-bar">----------------------------------------</div>
                      <div class="food-and-drinks-subheader-title">
                        <h1>{{ menu-category.title }}</h1>
                        <button class="submenu-button submenu-open-button">=</button>
                      </div>
                      <div class="menu-single-bar">
                        ----------------------------------------
                      </div>
                    </div>
                    {% for menu-subsection in menu-category.subsections %}
                            {% if menu-subsection.subsection-header != '' %}
                            <br>
                            <div class="menu-subheader">
                              <h2>
                                ----[{{ menu-subsection.subsection-header }}]----------------------------------
                              </h2>
                            </div>
                            {% endif %}
                            {% for item in menu-subsection.items %}
                            <div class="menu-item">
                              <br>
                              <div class="menu-item-header">
                                {% assign price_split = item.price | round: 2 | split: "." %}
                                {% assign integral = price_split[0] %}
                                {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}

                                <h3>{{ item.name }}</h3>
                                <p>${{ integral }}.{{ fractional }}</p>
                              </div>
                              <div class="menu-item-description">
                                <p>{{ item.description }}</p>
                              </div>
                                  {% if item.note %}
                                  <span class="menu-note">{{ item.note }}</span>
                                  {% endif %}
                            </div>
                            {% endfor %}
                    {% endfor %}
              {% endfor %}
            </div>
            </div>
          <div class="divider-single-bar">----------------------------------------</div>
          </section>
          <!-- the space -->
          <section class="nav-item" id="theSpace" data-href="/space">
            <div class="thespace-inner section-inner">
              <div class="section-header click" id="theSpaceHeader">
                <h1 class="click">the space</h1>
                <span class="nav-button" id="theSpaceButton">></span>
                <span class="nav-button-close" id="theSpaceButtonClose">-</span>
              </div>
              <div class="space-single-bar">------------------------------------</div>
              <div class="section-body">
                <div class="the-space-arrows">
                  <button class="arrow arrow-left"><</button>
                  <button class="arrow arrow-right">></button>
                </div>
                <div class="space-single-bar">----------------------------------------</div>
                {% for space-area in site.data.space.space-areas %}
                    {% if space-area.coming-soon == false %}
                    <div class="space-section" id="{{ space-area.name | slugify}}">
                      <div class="space-section-inner">
                        <div class="space-header">
                          <h1 class="space-header-title">
                            {{ space-area.name }}
                          </h1>
                          <span class="see-more">+</span>
                          <span class="see-less">-</span>
                        </div>
                        <div class="space-body">
                          {{ space-area.description }}
                        </div>
                      </div>
                      <div class="space-single-bar">----------------------------------------</div>
                    </div>
                    {% else %}
                    <div class="space-section coming-soon" id="{{ space-area.name | slugify}}">
                    <div class="space-section-inner">
                      <div class="space-header">
                        <h1 class="space-header-title">
                          {{ space-area.name }} - <span>Coming Soon</span>
                        </h1>
                      </div>
                      </div>
                    </div>
                    {% endif %}

                    {% if forloop.last == false %}
                    {% endif %}

                {% endfor %}
              </div>
            </div>
            <div class="divider-single-bar">----------------------------------------</div>
          </section>
          <!-- events -->
          <section class="nav-item" id="events" data-href="/events">
            <div class="events-inner section-inner">
              <div class="section-header">
                <h1>* events</h1>
                <span class="nav-button" id="eventsButton">+</span>
                <span class="nav-button nav-button-close" id="eventsButtonClose">-</span>
              </div>
              <div class="section-body">
              {{site.data.events.events-body | markdownify}}
              </div>
            </div>
            <div class="divider-single-bar">----------------------------------------</div>
          </section>
          <!-- hours -->
          <section class="nav-item" id="hours" data-href="/hours">
            <div class="hours-inner section-inner">
              <div class="section-header click">
                <h1 class="click">
                  <span id="storeStatus" class="store-status" class="store-status click">* hours</span>
                  <span id="storeClosingTime" class="click"></span>
                </h1>
                <span class="nav-button click" id="hoursButton">+</span>
                <span class="nav-button nav-button-close click" id="hoursButtonClose">-</span>
              </div>
              <div class="section-body">
                <table class="schedule">
                  <colgroup>
                    <col span="1" style="width: 33.33%">
                    <col span="1" style="width: 66.66%">
                  </colgroup>
                  <tbody>
                    {% for day in site.data.hours.hours %}
                      <tr class="day-schedule">
                        <td class="hours-day">{{ day.day }}</td>
                        {% if day.open == false %}
                        <td class="hours hours-closed">CLOSED</td>
                        <!-- <td class="hours hours-hours hours-closed"><span class="hours-from">{{ day.from }}</span> – <span class='hours-to'>{{ day.to }}</span></td> -->
                        {% else %}
                        <td class="hours hours-hours"><span class="hours-from">{{ day.from }}</span> – <span class='hours-to'>{{ day.to }}</span></td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="divider-single-bar">----------------------------------------</div>
          </section>
          <!-- reservations -->
          <section class="nav-item reservations" id="reservations" data-href="/reservations">
            <div class="reservations-inner section-inner">
              <div class="section-header">
                <h1>* reservations</h1>
                <span class="nav-button" id="reservationsButton">+</span>
                <span class="nav-button nav-button-close" id="reservationsButtonClose">-</span>
              </div>
              <div class="section-body">
                <p>
                  {{site.data.reservations.reservations-body | markdownify}}
                </p>
              </div>          
            </div>
          <div class="divider-single-bar">----------------------------------------</div>
          </section>
        </div>
      </div>
      <div class="receipt-bottom">
        <!-- footer -->
        <div class="receipt-footer">
          <!-- <img class="logo" id="logo" src="/assets/images/Full-Logo-Black.png" alt="Madeline's Logo Black"> -->
          <div class="logo-container">
            <img class="logo" id="logo" src="/assets/images/mads-logo-1.png" alt="Madeline's Logo Black">
            <div class="easter-egg"></div>
          </div>
          <script>
            const logoElem = document.getElementById("logo");
            const rand = Math.ceil(Math.random()*3);
            // logo.src = `/assets/images/mads-logo-${rand}.png`
            logo.src = `/assets/images/MADS_Drawing_V${rand}.jpg`
          </script>
          <div class="signature-bar">
            X_______________________________________
          </div>
          <div class="receipt-footer-text">
            <p>
              MADELINE'S
            </p>
            <p>Follow us <span id='ig'><a href="https://www.instagram.com/madelinesnyc/" target="_blank">@madelinesnyc</a></span></p>
            <br>
            <p>THANK YOU :)</p>
          </div>
        </div>
      </div>
    </div>

  <script src="/assets/script.js" async defer></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  </body>
</html